.swatches {
  margin: 0 auto;
}

.color-group {
	padding-bottom: $size__site-gutter/2;
}

.color-swatch {
	border-radius: 50%;
	display: inline-block;
	height: 200px;
	line-height: 1.2;
	margin: 0 0 $size__site-gutter 0;
	width: 200px;
	  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.color-swatch-label {
	color: $color__white;
	font-size: 14pt;
	font-weight: normal;
	padding: 10px;
	width: 170px;
	text-align: center;

	dt, dd {
		display: inline;
		padding-bottom: 5px;
	}

	dt:first-of-type {
		padding-top: 0;
	}

	.color-code,
	.color-variable {
		margin: 0;
	}
}

/* Overrides for certain colours. */
.color-white {
	border-top: 1px solid $color__neutral-highlight;
	border-bottom: 1px solid $color__neutral-highlight;
}

.color-pure-white .color-swatch-label {
	border: 1px solid $color__neutral-highlight;
}
