.swatches {
  margin: 0 auto;
}

.color-group {
	padding-bottom: $size__site-gutter/2;
}

.color-swatch {
	border-radius: 50%;
	display: inline-block;
	height: 200px;
	line-height: 1.2;
	margin: 0 0 $size__site-gutter 0;
	width: 200px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 8px 14px rgba(0,0,0,0.025);
}

.color-swatch-label {
	color: $color__white;
	font-size: 14pt;
	font-weight: normal;
	padding: 10px;
	width: 170px;
	text-align: center;

	dt, dd {
		display: inline;
		padding-bottom: 5px;
	}

	dt:first-of-type {
		padding-top: 0;
	}

	.color-code,
	.color-variable {
		margin: 0;
	}
}

/* Overrides for certain colours. */
.light-swatch {
	border: 2px solid rgba(0, 0, 0, 0.05);
}

.light-swatch .color-swatch-label {
	color: $color__black;
}
